.resetButton
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    width: 20rem;
    height: 3rem;
    background-color: aliceblue;
    margin: 3rem auto;
    font-weight: bold;
    border-radius: 0.5rem;
    color: teal;
}

span
{
    color: crimson;
}